.app {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 400px;
  height: 230px;
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;
  color: #89725b;
}

.weatherLogoWrapper > svg {
  width: 113px;
  height: 101px;
  fill: #89725b;
}

.metaWrapper {
  display: flex;
  align-items: center;
}

.bar {
  width: 1px;
  height: 14px;
  background-color: #beafa0;
  margin: 0 11px;
}

.textContent {
  /*width: 183px;*/
  height: 87px;
  padding: 10px 0;
  font-size: 21px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;

}

.leftHideWrapper {
  position: absolute;
  top: 172px;
  left: 0;
  width: 145px;
  height: 20px;
  background-color: white;
  z-index: 1;
}

.rightHideWrapper {
  position: absolute;
  top: 172px;
  right: 0;
  width: 120px;
  height: 20px;
  background-color: white;
  z-index: 1;
}

@keyframes videoDetailMove {
  from {right: -116px;}
  to {right: 150px;}
}

.videoPlayerWrapper {
  display: flex;
  flex-direction: row;
}

.videoDetail {
  position: relative;
  height: 20px;
  font-size: 14px;
  text-align: left;
  animation: videoDetailMove 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.playerWrapper {
  z-index: 2;
}

.pauseIcon {
  margin: 0 6px;
}
